body{
  font-family: Arial;
  background-color: #ac8d8d;
}
.to-do-grid,
.todo-input-grid{
  grid-template-columns: 250px 150px 100px;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}
.todo-input-grid{
  margin-bottom: 10px;
  align-items: stretch;
}
.name-input,
.due-date-input{
  font-size: 15px;
  padding: 6px;
}
.add-todo-button{
  background-color: green;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
.delete-button{
  background-color:darkred;
  border:none;
  font-size: 15px;
  color: white;
  padding: 10px;
  cursor: pointer;
}